$yellow: #e8f803;
$green: #4bf707;


@mixin margenes($top, $bottom, $color) {
    margin-top: $top;
	margin-bottom: $bottom;
	background-color: $color;
}


.jumbotron {
	color: black;
	background: url(../images/polinesia.jpg) no-repeat center ;
    background-size: cover;
    text-align: left;
    padding: 50px;
    height: 420px;
    @include margenes(50px,0px,$green)
}
.footer {
	padding: 10px 0px 0 0px;
	background-color: $yellow;
    @include margenes(10px,0px,$yellow)

	
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}	

.card-img-top {
	border-radius: 0;
	width: 100%;
}

.btn-reserva{
	width: 100%;
}

.justify-text{
	text-align: justify;
}

.footer-address-icon {
	padding-right: 10px;
}

body{
	overflow-x: hidden;
}

.tab-content{
	padding-top: 10px;
}