.jumbotron {
  color: black;
  background: url(../images/polinesia.jpg) no-repeat center;
  background-size: cover;
  text-align: left;
  padding: 50px;
  height: 420px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #4bf707; }

.footer {
  padding: 10px 0px 0 0px;
  background-color: #e8f803;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #e8f803; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.card-img-top {
  border-radius: 0;
  width: 100%; }

.btn-reserva {
  width: 100%; }

.justify-text {
  text-align: justify; }

.footer-address-icon {
  padding-right: 10px; }

body {
  overflow-x: hidden; }

.tab-content {
  padding-top: 10px; }
